In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('energydata_complete.csv')

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,1/11/2016 17:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,1/11/2016 17:10,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,1/11/2016 17:20,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,1/11/2016 17:30,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,1/11/2016 17:40,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
df.shape

(19735, 29)

In [5]:
#Question 12 
simple_linear_reg_df = df[['T2', 'T6']]
simple_linear_reg_df

              T2         T6
0      19.200000   7.026667
1      19.200000   6.833333
2      19.200000   6.560000
3      19.200000   6.433333
4      19.200000   6.366667
...          ...        ...
19730  25.890000  24.796667
19731  25.754000  24.196667
19732  25.628571  23.626667
19733  25.414000  22.433333
19734  25.264286  21.026667

[19735 rows x 2 columns]

In [6]:
X = simple_linear_reg_df[["T2"]]
Y = simple_linear_reg_df.T6

In [10]:
#fitting simple linear regression model

from sklearn.linear_model import LinearRegression
linear_model1 = LinearRegression().fit(X, Y)
linear_model1

LinearRegression()

In [11]:
#Predicting the test set results

y_pred = linear_model1.predict(X)
y_pred

array([ 5.37165597,  5.37165597,  5.37165597, ..., 19.67562203,
       19.19818742, 18.86506394])

In [16]:
#calculating R Squared value

from sklearn.metrics import r2_score
r2s = r2_score(Y, y_pred)
round(r2s, 2)

0.64

In [19]:
#Question 13
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,1/11/2016 17:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,1/11/2016 17:10,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,1/11/2016 17:20,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,1/11/2016 17:30,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,1/11/2016 17:40,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [14]:
# normalize dataset

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
new_df = df.drop(columns = ['date', 'lights'])
normalised_df = pd.DataFrame(scaler.fit_transform(new_df), columns = new_df.columns)
features_df = normalised_df.drop(columns=['Appliances'])
target = normalised_df['Appliances']

In [15]:
#split datasets

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, target, test_size=0.3, random_state=42)

In [16]:
linear_model = LinearRegression()

In [17]:
#fit the model

linear_model.fit(x_train, y_train)

LinearRegression()

In [18]:
#obtain predictions

pred_values = linear_model.predict(x_test)

In [29]:
#MAE

from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, pred_values)
round(mae, 2)

0.05

In [32]:
#Question 14 - Residual Sum of Squares in 2dp
import numpy as np
rss = np.sum(np.square(y_test - pred_values))
round(rss, 2)

45.35

In [33]:
#Question 15 - RMSE IN 3dp

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, pred_values))
round(rmse, 3)

0.088

In [34]:
#Question 16 - Coefficient of Determination in 2dp i.e r2s

from sklearn.metrics import r2_score
r2s = r2_score(y_test, pred_values)
round(r2s, 2)

0.15

In [19]:
#Question 17 - Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

feature_weight = linear_model.coef_
feature_weight

array([-0.00324164,  0.55351643, -0.23619824, -0.45666207,  0.29058676,
        0.09609469,  0.028957  ,  0.02637035, -0.01564516,  0.01600901,
        0.23644073,  0.03802267,  0.01034977, -0.0446198 ,  0.10199549,
       -0.15758506, -0.18997749, -0.03980848, -0.32196857,  0.00683206,
       -0.07774848,  0.02917819,  0.01230582,  0.11786204,  0.00076517,
        0.00076517])

In [20]:
#Question 18

from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [21]:
#Question 19 - lasso regression model

from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [29]:
def get_weights_df(linear_model, feat, col_name):
    weights = pd.Series(linear_model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weights')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_Weight')
final_weights = pd.merge(linear_model_weights, lasso_weights_df, on='Features')
final_weights

       Features  Linear_Model_Weights  Lasso_Weight
0          RH_2             -0.456662     -0.000000
1         T_out             -0.321969      0.000000
2            T2             -0.236198      0.000000
3            T9             -0.189977     -0.000000
4          RH_8             -0.157585     -0.000110
5        RH_out             -0.077748     -0.049557
6          RH_7             -0.044620     -0.000000
7          RH_9             -0.039808     -0.000000
8            T5             -0.015645     -0.000000
9            T1             -0.003242      0.000000
10          rv1              0.000765     -0.000000
11          rv2              0.000765     -0.000000
12  Press_mm_hg              0.006832     -0.000000
13           T7              0.010350     -0.000000
14   Visibility              0.012306      0.000000
15         RH_5              0.016009      0.000000
16         RH_4              0.026370      0.000000
17           T4              0.028957     -0.000000
18    Windspeed              0.029178      0.002912
19         RH_6              0.038023     -0.000000
20         RH_3              0.096095      0.000000
21           T8              0.101995      0.000000
22    Tdewpoint              0.117862      0.000000
23           T6              0.236441      0.000000
24           T3              0.290587      0.000000
25         RH_1              0.553516      0.017880

In [30]:
#Question 20 - What is the new RMSE with the lasso regression?

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, pred_values))
round(rmse, 3)

0.088